/* navigation start */
.nav_background{
/* image*/
    background-image: url("nav_background.jpg");
    min-height: 380px;

/* centering and scaling*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

/* position the navbar */
    position: relative;
}

/* Position the navbar container inside the image */
.nav_container {
    position: absolute;
    margin: 20px;
    width: auto;
}

/* The navbar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Navbar links */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #e6e6e6;
    color: black;
}

/* navigation banner and title */
.banner {
    padding: 8px;
}

.banner h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(59, 15, 15);
    font-size: 100px;

}

.banner p {
    text-indent: 0px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 50px;
    color: rgb(59, 15, 15);
    opacity: 0.5;
}   
/* navigation end */


/* section_headings start */
.section_heading {
    background-color: #e6e6e6;
    Font-weight: 700;
    Font-size: 26px;
    Font-family: Nunito Sans;
    padding: 25px;
    color: #333;
}
/* section_headings end */



/* section 1 start */
#section1 {
    padding: 0 100px;
}

.color .swatches {
    width: 60%;
}

.color .swatch {
    display: flex;
    height: 6.6875rem;
    border: 10px solid #e6e6e6;
    margin-bottom: 1.25rem;
    color: hsl(0, 7%, 50%) bold; 
}

.color .swatch > div {
    flex-grow: 1;
    border-right: 10px solid #e6e6e6;
}
  
  .color .swatch > div:last-child {
    border-right: 0;
  }
  
@media only screen and (max-width: 820px) {
    #color-guide .color {
    flex-direction: column;
    align-items: center;
}
  
.color .swatches {
      width: 100%;
}
}
  
/* Red Swatches */
  
.reds .base-color {
    color: hsl(350, 100%, 50%);
}
  
/* Red lightness decreases by 15 */
.reds .lightness .color-1 {
    background-color: hsl(350, 100%, 80%)
}
  
.reds .lightness .color-2 {
    background-color: hsl(320, 100%, 65%);
}
  
.reds .lightness .color-3 {
    background-color: hsl(305, 100%, 50%);
}
  
.reds .lightness .color-4 {
    background-color: hsl(290, 100%, 35%);
}
  
.reds .lightness .color-5 {
    background-color: hsl(275, 100%, 20%);
}
  
/* Red saturation decreases by 15 */
.reds .saturation .color-1 {
    background-color: hsl(350, 100%, 50%)
  
}
  
.reds .saturation .color-2 {
    background-color: hsl(350, 85%, 50%);
}
  
.reds .saturation .color-3 {
    background-color: hsl(350, 70%, 50%);
}
  
.reds .saturation .color-4 {
    background-color: hsl(350, 55%, 50%);
}
  
.reds .saturation .color-5 {
    background-color: hsl(350, 40%, 50%);
}
  
  /* Red hue increases by 15 */
.reds .hue .color-1 {
    background-color: hsl(350, 100%, 50%);
}
  
.reds .hue .color-2 {
    background-color: hsl(335, 100%, 50%);
}
  
.reds .hue .color-3 {
    background-color: hsl(350, 100%, 50%);
}
  
.reds .hue .color-4 {
    background-color: hsl(5, 100%, 50%);
}
  
.reds .hue .color-5 {
    background-color: hsl(20, 100%, 50%);
}
  
  /* Green Swatches */
  
.greens .base-color {
    color: hsl(130, 100%, 50%);
}
  
  /* Green lightness decreases by 20 */
.greens .lightness .color-1 {
    background-color: hsl(103, 100%, 90%);
}
  
.greens .lightness .color-2 {
    background-color: hsl(103, 100%, 70%);
}
  
.greens .lightness .color-3 {
    background-color: hsl(103, 100%, 50%);
}
  
.greens .lightness .color-4 {
    background-color: hsl(103, 100%, 30%);
}
  
.greens .lightness .color-5 {
    background-color: hsl(104, 100%, 10%);
}
  
  /* Green saturation decreases by 20 */
.greens .saturation .color-1 {
    background-color: hsl(130, 100%, 50%);
  
}
  
.greens .saturation .color-2 {
    background-color: hsl(130, 80%, 50%);
}
  
.greens .saturation .color-3 {
    background-color: hsl(130, 60%, 50%);
}
  
.greens .saturation .color-4 {
    background-color: hsl(130, 40%, 50%);
}
  
.greens .saturation .color-5 {
    background-color: hsl(131, 20%, 50%);
}
  
  /* Green hue increases by 22 */
.greens .hue .color-1 {
    background-color: hsl(86, 100%, 50%);
  
}
  
.greens .hue .color-2 {
    background-color: hsl(108, 100%, 50%);
}
  
.greens .hue .color-3 {
    background-color: hsl(130, 100%, 50%);
}
  
.greens .hue .color-4 {
    background-color: hsl(152, 100%, 50%);
}
  
.greens .hue .color-5 {
    background-color: hsl(174, 100%, 50%);
}
  
  /* Blue Swatches */
  
.blues .base-color {
    color: hsl(220, 100%, 50%);
}
  
  /* Blue lightness decreases by 20 */
.blues .lightness .color-1 {
    background-color: hsl(220, 100%, 90%);
  
}
  
.blues .lightness .color-2 {
    background-color: hsl(220, 100%, 70%);
}
  
.blues .lightness .color-3 {
    background-color: hsl(220, 100%, 50%);
}
  
.blues .lightness .color-4 {
    background-color: hsl(220, 100%, 30%);
}
  
.blues .lightness .color-5 {
    background-color: hsl(220, 100%, 10%);
}
  
  /* Blue saturation decreases by 20 */
.blues .saturation .color-1 {
    background-color: hsl(220, 100%, 50%);
  
}
  
.blues .saturation .color-2 {
    background-color: hsl(220, 80%, 50%);
}
  
.blues .saturation .color-3 {
    background-color: hsl(220, 60%, 50%);
}
  
.blues .saturation .color-4 {
    background-color: hsl(220, 40%, 50%);
}
  
.blues .saturation .color-5 {
    background-color: hsl(220, 20%, 50%);
}
  
/* Blue hue decreases by 20 */
.blues .hue .color-1 {
    background-color: hsl(260, 100%, 50%);
  
}
  
.blues .hue .color-2 {
    background-color: hsl(240, 100%, 50%);
}
  
.blues .hue .color-3 {
    background-color: hsl(220, 100%, 50%);
}
  
.blues .hue .color-4 {
    background-color: hsl(200, 100%, 50%);
}
  
.blues .hue .color-5 {
    background-color: hsl(180, 100%, 50%);
}
/* section 1 end */



/* section 2 start */
#section2 {
    padding: 0 100px;
}
* {
    box-sizing: border-box;
   }
     
   /* three equal columns that floats next to each other */
   .column {
       float: left;
       width: 33.33%;
       padding: 10px;
     }
     
     /* Clear floats after the columns */
   .row:after {
       content: "";
       display: table;
       clear: both;
   }

/* fonts setting start*/
#time {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px
}

#georgia {
    font-family: georgia, serif;
    font-size: 25px
}

#arial {
    font-family: arial, sans-serif;
    font-size: 25px;
}

#helvetica {
    font-family: helvetica, sans-serif;
    font-size: 25px;
}

#courier {
    font-family: "Courier New", monospace;
    font-size: 25px;
}

#lucida {
    font-family: "Lucida Console", monospace;
    font-size: 25px;
}

#brush {
    font-family: "Brush Script MT", cursive;
    font-size: 25px;
}

#Lucida_h {
    font-family: "Lucida Handwriting", cursive;
    font-size: 25px;
}

#copperplate {
    font-family: copperplate, fantasy;
    font-size: 25px;
}

#papyrus {
    font-family: papyrus, fantasy;
    font-size: 25px;
}
/* fonts setting end */

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    
}
/* section 2 end */



/* section 3 start */
#section3 {
    padding: 0 100px;
}

* {
 box-sizing: border-box;
 
}
  
/* three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    
    
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    
}
/* section 3 end */



/* section 4 start */
#section4 {
    padding: 0 100px;
}
/* button 1 start */
.button1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
/* button 1 end */
/* button 2 start */
.button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
.button2:hover {
    background-color: #4CAF50;
    color: white;
}
/* button 2 end */
/* button 3 start */
.button3 {
    display: inline-block;
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 15px 32px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px 2px;
}
.button3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button3:hover span {
    padding-right: 25px;
}
.button3:hover span:after {
    opacity: 1;
    right: 0;
}
/* button 3 end */
/* button 4 start */
.button4 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}
.button4:hover{
    opacity: 1
}
/* button 4 end */
/* button 5 start */
.button5 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 4px;
}
.button5:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/* button 5 end */
/* section 4 end */